ul
{
list-style-type:none;
margin:0;
padding:0;

}
li
{
display:inline;
padding:10px 10px 10px 10px;
}
body{
margin:0;
padding:0;
width:100%;
}
.friends {
background-color:black;
text-decoration:none;
height: 20px;
padding: 10px 10px 10px 10px;
}
	a:link    {color:gray;}
	.friends a:hover    {color:white;}
	
	.foot:hover{
		text-decoration: underline
	}	
.family{
   position:absolute;
   bottom:0;
   width:100%;
   //height:40px;    
   background:white;
   border:1px solid gray;
   //padding: 10px 10px 10px 10px;
   margin:0px;   
}
.buttonHolder{ 
	text-align: center; 
	}
.family li{
padding:10px 10px 10px 10px;
float:right;
}

#searchbox{
	text-align: center;
	margin:80px;
	padding-top: 112px;
	
}

#input{
	text-align: center;
	padding:0;
	margin:10px 0 ;
	
	height:auto;
	width:100%;
	
	
}
#inner{
	float:right;
	padding:5px 5px;
	margin:0;
	
	
	}
.name{
	
	color:gray;
}
button{
	border-radius:5px;
		height:30px;
	
		
}
buttons{
	text-align: center;
}

a{
	color:gray;
	text-decoration:none;
}
